
<button type="submit" class="text-center col-1 btn btn-danger" style="float: right; margin-bottom: 5px;" @onclick="@( () => GetPlayers() )"><i class="oi oi-trash"></i>Start</button>
<button type="submit" class="text-center col-1 btn btn-success" style="float: right; margin-bottom: 5px;" @onclick="@( () => Simulate() )"><i class="oi oi-eye"></i>Simulate</button>
